body{
    background: rgb(212, 205, 205);
}

#topo h1{
    text-align: center;
    background-color:rgb(159, 137, 219);
    color: rgb(9, 9, 71);
}
#topo p{
    text-align: center;
}
#topo nav{
    padding: 0px 0px 10px 0px;
    box-sizing: border-box;
}
#topo ul{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}
.linksTopo{
    text-decoration: none;
    padding: 10px;
    background: rgb(172, 167, 167);
    margin: 0px 5px;
    color: black;
    border-radius: 5px;
}
.linksTopo:hover{
    background: gray;
    color: white;
    transition: 0.8s;
}
main{
    width: 70%;
    margin: auto;
}
.titulo_section{
    color: rgb(8, 8, 109);
    background-color: rgb(151, 145, 145);
    padding: 10px;
    border-bottom: 3px solid rgb(8, 8, 109);
}

h3{
    color: rgb(36, 33, 33);
}

.subtitulo_section{
    color: blue;
}

.texto__negrito{
    color: rgb(58, 53, 53);
}


