body{
    background: rgb(212, 205, 205);
}

#topo h1{
    text-align: center;
    background-color:rgb(159, 137, 219);
    color: rgb(9, 9, 71);
}
#topo p{
    text-align: center;
    margin-bottom: 40px;
}

main{
    width: 70%;
    margin: auto;
}
.titulosH2{
    background: gray;
    color: rgb(9, 9, 71);
    padding-left: 5px;
    box-sizing: border-box;
    border-bottom:2px solid rgb(9, 9, 71);
    padding: 10px;
}
.itensLista{
    list-style-type: none;
    text-indent: -40px;
    margin: 10px 0px;
}
.negritoAzul{
    color: blue;
}
