body{
    background: rgb(212, 205, 205);
}

#topo h1{
    text-align: center;
    background-color:rgb(159, 137, 219);
    color: rgb(9, 9, 71);
}
#topo p{
    text-align: center;
    margin-bottom: 40px;
}

main{
    width: 70%;
    margin: auto;
}
.titulo_section{
    color: rgb(8, 8, 109);
    background-color: rgb(151, 145, 145);
    padding: 10px;
    border-bottom: 3px solid rgb(8, 8, 109);
}

h3{
    color: rgb(36, 33, 33);
}

.subtitulo_section{
    color: blue;
}

.texto__negrito{
    color: rgb(58, 53, 53);
}


