@media screen and (max-width:726px){
    #topo div{
        flex-direction: column;
        gap: 16px;
    }
    #topo div ul{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:866px){
    #topo div{
        flex-direction: column;
        gap: 16px;
    }
    #topo div ul{
        font-size: 0.8rem;
    }

    #conteudo1__modelos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 60px;
    }
    .modelos{
        width: 60%;
    }
    .modelos img{
        width: 100%;

    }
}