html{
    background-color: #9595a6;
    font-family: Arial, Helvetica, sans-serif;
}   
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    border: 1px solid black;
    padding: 0.5rem 0.2rem;
}
form fieldset{
    display: flex;
    flex-direction:column;
    border: none;
    padding: 1rem;
    gap: 0.5rem;

}
form fieldset legend{
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    padding-top: 10px;
    
}

form div{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}
fieldset input{
    padding: 0.5rem 0.9rem;
}
form div input{
    padding: 1rem 1.2rem; 
    
}

form div input[type="submit"]{
    background-color: rgb(38, 75, 177);
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition-duration:0.8s;
    font-weight: bold;
}

form div input[type="reset"]{
    background-color: rgb(148, 19, 19);
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}